

/* body {
	background-color:Salmon	;
} */

h1 {
	color: Black
	;
}

.label_name {
	width: 200px;
	float: left;
}

.field_name {
	width: 450px;
}

#form {
	width: 600px;
	margin: 0 auto;
}

#centerfields {
	margin: 0 auto;
}

.sub_btn {
	width: 120px;
	background-color: lightgreen;
	padding: 5px;
	margin: 10px;
}

.sign_up {
	width: 120px;
	padding: 5px;
	background-color: lightgreen;
	margin: 10px;
}

.forgot_btn {
	width: 160px;
	background-color: lightgreen;
	padding: 5px;
	margin: 10px;
}

div.button2{
	margin-right:500px

	
}
div.button1{
	margin-right:600px

	
}
.navbar
{
	border:0px solid black;
	background-color: white;
	margin:auto;
	width:80%;
	padding:0.25%;
	
}

.menubar button{
	margin-left: 5%;
	
}

.header{
	border:0px solid black;
	
}
table,tr,td{
	padding: 0%;
	
	border:0px solid black;
	border-collapse: collapse;
}

table td + td + td{  /* this will go to the 2nd column of a table directly */

width: 50%;
font-size:x-small; 

}
td{
	padding:10px;
}

.menubar{

	border:0px solid black;
	background-color: seagreen;
	margin:auto;
	margin-top:10%;
	width:80%;
	padding:0.25%;
	color: white;
	padding:1%;
	border-radius: 25px;

}

#banner{

	width:100%;
	height:5em;
	
}

.error
{
	color:white;
	font-size: small;
}